@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
  --DesaturatedDarkCyan: #5ba4a4;
  --LightGrayishCyan: #effafa;
  --LightGrayish: #eef6f6;
  --DarkGrayishCyan: #7b8e8e;
  --VeryDarkGrayishCyan: #2c3a3a;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

header{
  background-image: url(./assets/images/bg-header-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--DesaturatedDarkCyan);
  width: 100%;
  height: 155px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--LightGrayishCyan);
  width: 100%;
  min-height: calc(100vh - 155px);
  padding: 60px 0;
}

main .job{
  display: flex;
  align-items: center;
  background-color: white;
  width: 70%;
  height: 120px;
  box-shadow: 0 3px 10px 0 var(--DarkGrayishCyan);
  border-radius: 10px;
  padding: 0 30px;
  margin-bottom: 25px;
}

main .job img{
  width: 10%;
  height: 80%;
  border-radius: 50%;
  margin-right: 20px;
}

main .job .infoJob{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  padding: 20px 0;
}

main .job .infoJob .info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

main .job .infoJob .info .nameCompany{
  color: var(--DesaturatedDarkCyan);
  font-weight: 700;
  font-size: 15px;
}

main .job .infoJob .info .office{
  color: var(--VeryDarkGrayishCyan);
  font-weight: 700;
  font-size: 20px;
}

main .job .infoJob .info .office:hover{
  color: var(--DesaturatedDarkCyan);
  cursor: pointer;
}

main .job .infoJob .info .aboutJob{
  display: flex;
  align-items: center;
  color: var(--DarkGrayishCyan);
  user-select: none;
}

main .job .infoJob .info .aboutJob .separation{
  background-color: var(--DarkGrayishCyan);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: 0 10px;
  user-select: none;
}

main .job .infoJob .requirements{
  display: flex;
}

main .job .infoJob .requirements div{
  background-color: var(--LightGrayish);
  color: var(--DesaturatedDarkCyan);
  font-weight: 600;
  padding: 7px;
  border-radius: 5px;
  user-select: none;
  margin-right: 15px;
}

main .job .infoJob .requirements div:hover{
  background-color: var(--DesaturatedDarkCyan);
  color: var(--LightGrayishCyan);
  cursor: pointer;
}